{% extends "layout.njk" %}

{% block head %}

    <title>Projeto - Bandas</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Bandas</h1>
    </div>
    <section class="cards"></section>

{% endblock %}