{% extends "layout.njk" %}

{% block head %}

    <title>Projetos - Gospel</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Projetos - Gospel</h1>
    </div>

{% endblock%}