<!DOCTYPE html>
<html>

    <head>

        <title>Kleyton Leite</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>

        <header>
            <div id="links-menu" class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Portfolio</a>
            </div>
        </header>

        {% block content %}{% endblock %}
    </body>

</html>