{% extends "layout.njk" %}

{% block head %}

    <title>Portfolio - Kleyton Leite</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Projetos</h1>
    </div>

    <section class="cards-portfolio">
        <div class="card-portfolio">
            <div class="card_image_container-portfolio">
                <img src="https://scontent.frec5-1.fna.fbcdn.net/v/t31.0-8/17390852_285037168598591_4965406116311974105_o.jpg?_nc_cat=101&_nc_sid=730e14&_nc_ohc=OQgg2xRU8yoAX-5ayg5&_nc_ht=scontent.frec5-1.fna&oh=a1ee93de654233fd6b92d77ddcbccc53&oe=5F188195" alt="Poejto Divina Musica">
                <span class="card-title">Divina Musica</span>
            </div>

            <div class="card_content_portfolio">
                <p>Live Divina Musica</p>
            </div>

            <div class="card-action">
                <a href="/divina">Ver videos
                    <span>&rarr;</span></a>
            </div>
        </div>

        <div class="card-portfolio">
            <div class="card_image_container-portfolio">
                <img src="https://www.hotelinternacionalgravatal.com.br/blog/wp-content/uploads/2018/07/casamento-ao-ar-livre-945x630.jpg" alt="Videos cerimonias de Casamentos">
                <span class="card-title">Casamentos</span>
            </div>

            <div class="card_content_portfolio">
                <p>Live Divina Musica</p>
            </div>

            <div class="card-action">
                <a href="/casamentos">Ver videos
                    <span>&rarr;</span></a>
            </div>
        </div>

        <div class="card-portfolio">
            <div class="card_image_container-portfolio">
                <img src="https://static.wixstatic.com/media/8fe4e6_32e81dcce8664219bb022c322a1576be~mv2.jpg" alt="Projetos com Bandas">
                <span class="card-title">Bandas</span>
            </div>

            <div class="card_content_portfolio">
                <p>Live Divina Musica</p>
            </div>

            <div class="card-action">
                <a href="/bandas">Ver videos
                    <span>&rarr;</span></a>
            </div>
        </div>

        <div class="card-portfolio">
            <div class="card_image_container-portfolio">
                <img src="https://conteudo.solutudo.com.br/wp-content/uploads/2019/06/FESTA-POST.jpg" alt="Projetos Gospel">
                <span class="card-title">Gospel</span>
            </div>

            <div class="card_content_portfolio">
                <p>Live Divina Musica</p>
            </div>

            <div class="card-action">
                <a href="/gospel">Ver videos
                    <span>&rarr;</span></a>
            </div>
        </div>

    </section>
    <!-- Compiled and minified JavaScript <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

{% endblock %}